.App {
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 1px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 480px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 5px 5px 0px 0px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(480px - (45px + 50px));
  background: #f8f8f8;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 5px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  max-width: 160px;
  min-height: 20px;
  background-color: #7196FF;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin: 0px 5px;
  padding: 0px 8px;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 14px;
}
.message-content{
  padding: 5px 8px !important;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 6px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: #8f47ff;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 6px;
}

.message-meta #author {
  margin-left: 5px;
  font-weight: bold;
  color:#696969;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}
.message-meta{
   font-size: 10px !important;
}

.chat-window .chat-footer {
  height: 40px;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  font-size: 14px;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  outline: none;
  font-size: 25px;
  color: lightgray;
  background: white;
}

.chat-footer input{
  border-radius: 0px 0px 0px 8px;
}
.chat-footer button{
  border-radius: 0px 0px 8px 0px;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}